@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
.nav{
    z-index: 100;
    position: relative;
}
.bg-contact{
    display: flex;
    width: 110rem;
    height: 20rem;
    margin: 4rem auto;
    border-radius: 14px;
    align-items: center;
    background-color: #219680;
    justify-content: space-around;
    box-shadow: 3px 19px 42px 8px rgba(82, 82, 82, 0.5);
    background-image: radial-gradient(circle at right, #308980 42%, transparent 20%);
}

.tittle-contact{
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 0 0 5px #006125, 0 0 15px #006125, 0 0 30px #006125, 0 0 50px #006125;
}

.text-contact{
    color: #fff;
    font-family: 35px;
    text-align: center;
    font-family: "Imprima", sans-serif;
}

.imgContact img{
    width: 15rem;
}

.contact h1{
    font-size: 30px;
    text-align: center;
    font-family: "Imprima", sans-serif;
}
.contact p{
    font-size: 26px;
    text-align: center;
    font-family: "Imprima", sans-serif;
}

.options{
    display: flex;
    margin: 5rem 20rem auto;
    justify-content: space-between;
}

.card button{
    width: 22rem;
    display: flex;
    height: 9rem;
    align-items: center;
    border-radius: 14px;
    justify-content: center;
    background-color: #EEF8F5;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 10px rgba(116, 116, 116, 0.5);
}

.card button:hover{
    transform: translateY(-7px);
    background-color: #989a9c2f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.tittle-card{
    color: #12a579;
    font-size: 35px;
    font-weight: 400;
    text-align: start;
    font-family: "Imprima", sans-serif;
}
.info-card{
    font-size: 16px;
    text-align: start;
    margin-top: -0.8rem;
    font-family: "Imprima", sans-serif;
}
.iconContact{
    font-size: 30px;
    color: #12a579;
    margin: auto 1rem auto -1.5rem;
}