.contentProductDetails {
    width: auto;
    height: auto;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    font-family: "Racing", sans-serif;
    box-shadow: 0 8px 22px -2px gray;
    background: linear-gradient(180deg, rgba(30, 77, 74, 1) 0%, rgba(43, 132, 115, 1) 18%, rgba(40, 165, 130, 1) 100%);
}

.img-ProductDetails {
    gap: 7rem;
    display: flex;
    justify-content: space-between;
}
.additional-img {
    height: 28rem;
    padding: 2rem;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    backdrop-filter: blur(8rem);
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(61, 61, 61, 0.5);
    background-color: rgba(255, 255, 255, 0.082);
}
.additional-img img {
    width: 120px;
    height: 120px;
    background-color: #fff;
}
.main-img {
    width: 500px;
    height: 500px;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
}

.info-ProductDetails {
    width: 34rem;
    display: flex;
    text-align: right;
    flex-direction: column;
}

.name-ProductDetails {
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
}

.description-ProductDetails{
    color: #fff;
    font-size: 18px;
    margin-top: 1.5rem;
    font-family: "Imprima", sans-serif;
}

.contentEntrega {
    width: 11.5rem;
    display: flex;
    height: 2.5rem;
    padding: 0.5rem;
    margin-top: 3rem;
    margin-left: auto;
    text-shadow: none;
    outline: 1px solid;
    outline-offset: 0px;
    align-items: center;
    justify-content: space-between;
    outline-color: rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 
  
.contentEntrega:hover {
    width: 11rem;
    outline-offset: 15px;
    border: 1px solid #fff;
    text-shadow: 1px 1px 2px #427388; 
    outline-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
}

.contentEntrega h1{
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Racing", sans-serif;
}

.itemsDetails{
    width: 25rem;
    padding: 1rem;
    font-size: 14px;
    text-align: left;
    margin-top: 1rem;
    margin-left: auto;
    padding-left: 20px;
    font-family: 'Imprima';
    border: 0.5px solid #ffffff42;
    backdrop-filter: blur(8rem);
    box-shadow: 0 0 20px rgba(61, 61, 61, 0.5);
    background-color: rgba(255, 255, 255, 0.082);
}

.itemsDetails p::before {
    content: "\2022";
    font-size: 1.5rem;
    margin-right: 5px; 
}

.itemsDetails p{
    font-size: 16px;
    color: #fff;
    padding: 0.2rem;
}

/* Responsive */
/* Tablet 1 600px */
@media screen and (min-width: 600px) and (max-width: 639px){
    .contentProductDetails {
        padding: 3rem;
        flex-direction: column;
    }
    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 10rem;
        padding: 2rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        margin: auto;
        width: 350px;
        height: 350px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: auto;
        text-align: center;
    }
    .name-ProductDetails{
        font-size: 26px;
        margin-top: 2rem;
    }

    .description-ProductDetails, .itemsDetails p {
        font-size: 16px;
    }
}

/* Portatil 1 640px */
@media screen and (min-width: 640px) and (max-width: 679px){
    .contentProductDetails {
        padding: 3rem;
        flex-direction: column;
    }
    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 10rem;
        padding: 2rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        margin: auto;
        width: 350px;
        height: 350px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: auto;
        text-align: center;
    }
    .name-ProductDetails{
        font-size: 26px;
        margin-top: 2rem;
    }

    .description-ProductDetails, .itemsDetails p {
        font-size: 16px;
    }
}

/* Tableta 1 680px */
@media screen and (min-width: 680px) and (max-width: 700px){
    .contentProductDetails {
        padding: 3rem;
        flex-direction: column;
    }
    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 10rem;
        padding: 2rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        margin: auto;
        width: 350px;
        height: 350px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: auto;
        text-align: center;
    }
    .name-ProductDetails{
        font-size: 28px;
        margin-top: 2rem;
    }

    .description-ProductDetails, .itemsDetails p {
        font-size: 16px;
    }
}

@media screen and (min-width: 701px) and (max-width: 755px){
    .contentProductDetails {
        padding: 3rem;
        flex-direction: column;
    }
    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 10rem;
        padding: 2rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        margin: auto;
        width: 350px;
        height: 350px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 34rem;
    }
    .name-ProductDetails{
        font-size: 28px;
        margin-top: 2rem;
    }

    .description-ProductDetails, .itemsDetails p {
        font-size: 16px;
    }
}

/* Tableta 2 756px */
@media screen and (min-width: 756px) and (max-width: 767px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 7rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 80px;
        height: 80px;
    }

    .main-img {
        margin: auto;
        width: 300px;
        height: 300px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 20rem;
    }
    .name-ProductDetails{
        font-size: 22px;
    }

    .itemsDetails{
        width: 20rem;
    }
    
}

/* Tablet 2-Ipad Mini 768px */
@media screen and (min-width: 768px) and (max-width: 799px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 7rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 80px;
        height: 80px;
    }

    .main-img {
        margin: auto;
        width: 300px;
        height: 300px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 20rem;
    }
    .name-ProductDetails{
        font-size: 22px;
    }

    .itemsDetails{
        width: 20rem;
    }

}

/* Tablet 3 800px */
@media screen and (min-width: 800px) and (max-width: 819px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 7rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 80px;
        height: 80px;
    }

    .main-img {
        margin: auto;
        width: 300px;
        height: 300px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 20rem;
    }
    .name-ProductDetails{
        font-size: 22px;
    }

    .itemsDetails{
        width: 20rem;
    }

}

/* ipad Air 820px */
@media screen and (min-width: 820px) and (max-width: 868px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 7rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 80px;
        height: 80px;
    }

    .main-img {
        margin: auto;
        width: 300px;
        height: 300px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 20rem;
    }
    .name-ProductDetails{
        font-size: 23px;
    }

    .itemsDetails{
        width: 20rem;
    }
    .itemsDetails p{
        font-size: 18px;
    }
}

/* Tableta 3 869px */
@media screen and (min-width: 869px) and (max-width: 911px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 7rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 80px;
        height: 80px;
    }

    .main-img {
        margin: auto;
        width: 300px;
        height: 300px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 20rem;
    }
    .name-ProductDetails{
        font-size: 23px;
    }

    .itemsDetails {
        width: 20rem;
    }
}

/* Surface Pro 7 912px */
@media screen and (min-width: 912px) and (max-width: 943px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 7rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 80px;
        height: 80px;
    }

    .main-img {
        margin: auto;
        width: 300px;
        height: 300px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 25rem;
    }
    .name-ProductDetails{
        font-size: 25px;
    }

}

/* Tableta 4 944px */
@media screen and (min-width: 944px) and (max-width: 959px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 7rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 80px;
        height: 80px;
    }

    .main-img {
        margin: auto;
        width: 300px;
        height: 300px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 25rem;
    }
    .name-ProductDetails{
        font-size: 25px;
    }
}

/* Portatil 2 960px */
@media screen and (min-width: 960px) and (max-width: 999px){
    .contentProductDetails{
        padding: 4rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        height: 7rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(2rem);
    }
    .additional-img img {
        width: 80px;
        height: 80px;
    }

    .main-img {
        margin: auto;
        width: 300px;
        height: 300px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 28rem;
    }
    .name-ProductDetails{
        font-size: 31px;
    }
}

/* Tablet 4-computador de mesa 1/2-iPad Pro-Nest Hub 1024px */
@media screen and (min-width: 1000px) and (max-width: 1050px){
    .contentProductDetails{
        padding: 4rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        width: 25rem;
        height: 8.5rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        margin: auto;
        width: 300px;
        height: 300px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 28rem;
    }
    .name-ProductDetails{
        font-size: 30px;
    }
}

/* Tableta 5 1058px */
@media screen and (min-width: 1051px) and (max-width: 1079px){
    .contentProductDetails{
        padding: 4rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        width: 25rem;
        height: 8.5rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        margin: auto;
        width: 390px;
        height: 390px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 28rem;
    }
    .name-ProductDetails{
        font-size: 30px;
    }
}

/* Tablet 5 1080px */
@media screen and (min-width: 1080px) and (max-width: 1130px){
    .contentProductDetails{
        padding: 4rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        width: 25rem;
        height: 8.5rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        margin: auto;
        width: 390px;
        height: 390px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 28rem;
    }
    .name-ProductDetails{
        font-size: 30px;
    }
}

/* Tableta 6 1171px*/
@media screen and (min-width: 1131px) and (max-width: 1180px){
    .contentProductDetails{
        padding: 4rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        width: 25rem;
        height: 8.5rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        margin: auto;
        width: 390px;
        height: 390px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 28rem;
    }
    .name-ProductDetails{
        font-size: 30px;
    }

    
}

/* Tablet 6 1200px */
@media screen and (min-width: 1181px) and (max-width: 1200px){
    .contentProductDetails{
        padding: 4rem;
    }

    .img-ProductDetails {
        gap: 4rem;
        flex-direction: column;
    }

    .additional-img {
        width: 25rem;
        height: 8.5rem;
        padding: 1rem;
        flex-direction: row;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        margin: auto;
        width: 390px;
        height: 390px;
        padding: 0rem;
        margin-top: -2rem;
    }

    .info-ProductDetails{
        width: 28rem;
    }
    .name-ProductDetails{
        font-size: 30px;
    }

    
}

/* Tablet 7-computador de mesa 3/4-Nast Hub Max 1280px */
@media screen and (min-width: 1201px) and (max-width: 1284px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
    }

    .additional-img {
        padding: 1rem;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        width: 390px;
        height: 390px;
        padding: 0rem;
    }

    .info-ProductDetails{
        width: 28rem;
    }
    .name-ProductDetails{
        font-size: 30px;
    }

    
}

/* Tableta 7 1285px */
@media screen and (min-width: 1285px) and (max-width: 1335px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
    }

    .additional-img {
        padding: 1rem;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        width: 390px;
        height: 390px;
        padding: 0rem;
    }

    .info-ProductDetails{
        width: 28rem;
    }
    .name-ProductDetails{
        font-size: 30px;
    }

    
}

/* 1336px - 1376px*/
@media screen and (min-width: 1336px) and (max-width: 1376px){
    .contentProductDetails{
        padding: 3rem;
    }

    .img-ProductDetails {
        gap: 4rem;
    }

    .additional-img {
        padding: 1rem;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 100px;
        height: 100px;
    }

    .main-img {
        width: 390px;
        height: 390px;
        padding: 0rem;
    }

    .info-ProductDetails{
        width: 28rem;
    }
    .name-ProductDetails{
        font-size: 30px;
    }

    .itemsDetails p{
        font-size: 17px;
    }
    
}

/* Computador de mesa 5 1400px */
@media screen and (min-width: 1377px) and (max-width: 1420px){
    .contentProductDetails{
        padding: 4rem;
    }

    .img-ProductDetails {
        gap: 4rem;
    }

    .additional-img {
        padding: 1rem;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 105px;
        height: 105px;
    }

    .main-img {
        width: 400px;
        height: 400px;
        padding: 0rem;
    }

    .info-ProductDetails{
        width: 30rem;
    }
    .name-ProductDetails{
        font-size: 33px;
    }

    
}

/* 1421px - 1499px */
@media screen and (min-width: 1421px) and (max-width: 1499px){
    .contentProductDetails{
        padding: 4rem;
    }

    .img-ProductDetails {
        gap: 4rem;
    }

    .additional-img {
        padding: 1rem;
        backdrop-filter: blur(0.5rem);
    }
    .additional-img img {
        width: 105px;
        height: 105px;
    }

    .main-img {
        width: 400px;
        height: 400px;
        padding: 0rem;
    }

    .info-ProductDetails{
        width: 30rem;
    }
    .name-ProductDetails{
        font-size: 35px;
    }

    
}

/* Tablet 8 1536px */
@media screen and (min-width: 1500px) and (max-width: 1599px){
    .contentProductDetails{
        padding: 4rem;
    }

    .img-ProductDetails {
        gap: 4rem;
    }

    .additional-img {
        padding: 1rem;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 105px;
        height: 105px;
    }

    .main-img {
        width: 400px;
        height: 400px;
        padding: 0rem;
    }

    .info-ProductDetails{
        width: 30rem;
    }
    .name-ProductDetails{
        font-size: 35px;
    }

    .description-ProductDetails {
        font-size: 23px;
    }

    .contentEntrega {
        height: 3rem;
        width: 13.5rem;
    }

    .contentEntrega:hover {
        width: 15rem;
    }

    .contentEntrega h1 {
        font-size: 22px;
    }

    .itemsDetails {
        width: 30rem;
    }

    .itemsDetails p {
        font-size: 23px;
    }
    
}

/* Computador de mesa 6  1600px */
@media screen and (min-width: 1600px) and (max-width: 1699px){
    .img-ProductDetails {
        gap: 4rem;
    }

    .additional-img {
        padding: 1rem;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 105px;
        height: 105px;
    }

    .main-img {
        width: 400px;
        height: 400px;
        padding: 0rem;
    }

    .info-ProductDetails{
        width: 30rem;
    }
    .name-ProductDetails{
        font-size: 35px;
    }

    .contentEntrega {
        width: 11rem;
    }

    .contentEntrega:hover {
        width: 12rem;
    }

}

/* 1700px - 1799px */
@media screen and (min-width: 1700px) and (max-width: 1799px){
    .img-ProductDetails {
        gap: 4rem;
    }

    .additional-img {
        padding: 1rem;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 105px;
        height: 105px;
    }

    .main-img {
        width: 400px;
        height: 400px;
        padding: 0rem;
    }

    .info-ProductDetails{
        width: 30rem;
    }
    .name-ProductDetails{
        font-size: 35px;
    }
}

/* 1800px - 1919px */
@media screen and (min-width: 1800px) and (max-width: 1919px){
    .img-ProductDetails {
        gap: 4rem;
    }

    .additional-img {
        padding: 1rem;
        backdrop-filter: blur(1rem);
    }
    .additional-img img {
        width: 105px;
        height: 105px;
    }

    .info-ProductDetails{
        width: 40rem;
    }
    .name-ProductDetails{
        font-size: 38px;
    }
}

/* Computador de mesa 7 1920px */
@media screen and (min-width: 1920px) and (max-width: 1949px){
    .contentProductDetails {
        padding: 5rem;
    }
    
    .img-ProductDetails {
        gap: 7rem;
    }
    .additional-img {
        height: 28rem;
        padding: 2rem;
        backdrop-filter: blur(8rem);
    }
    .additional-img img {
        width: 120px;
        height: 120px;
    }
    .main-img {
        width: 500px;
        height: 500px;
        padding: 2rem;
    }
    
    .info-ProductDetails {
        width: 34rem;
    }
    
    .name-ProductDetails {
        font-size: 40px;
    }
    .description-ProductDetails{
        font-size: 18px;
    }
}

/* Tablet 9 2048px */
@media screen and (min-width: 1950px) and (max-width: 2050px){
    .additional-img {
        height: 32rem;
    }
    .additional-img img {
        width: 140px;
        height: 140px;
    }
    .main-img {
        width: 520px;
        height: 520px;
    }
    
    .name-ProductDetails {
        font-size: 46px;
    }
    .description-ProductDetails, .itemsDetails p{
        font-size: 22px;
    }

    .contentEntrega h1{
        font-size: 24px;
    }
    
    .contentEntrega {
        width: 15.5rem;
        height: 3rem;
    }
    .contentEntrega:hover{
        width: 15rem;
    }

    .itemsDetails {
        width: 34rem;
    }
}

/* 2051px - 2159px */
@media screen and (min-width: 2051px) and (max-width: 2159px){
    .additional-img {
        height: 37rem;
    }
    .additional-img img {
        width: 170px;
        height: 170px;
    }
    .main-img {
        width: 520px;
        height: 520px;
        padding: 0;
    }
    
    .name-ProductDetails{
        font-size: 46px;
    }
    .description-ProductDetails, .itemsDetails p{
        font-size: 22px;
    }

    .contentEntrega h1{
        font-size: 24px;
    }
    
    .contentEntrega {
        width: 15.5rem;
        height: 3rem;
    }
    .contentEntrega:hover{
        width: 15rem;
    }

    .itemsDetails {
        width: 34rem;
    }
}

/* Tablet 10 2160px */
@media screen and (min-width: 2160px) and (max-width: 2259px){
    .additional-img {
        height: 37rem;
    }
    .additional-img img {
        width: 170px;
        height: 170px;
    }
    .main-img {
        width: 520px;
        height: 520px;
        padding: 0;
    }
    
    .name-ProductDetails {
        font-size: 48px;
    }
    .description-ProductDetails, .itemsDetails p{
        font-size: 24px;
    }

    .contentEntrega h1{
        font-size: 24px;
    }
    
    .contentEntrega {
        width: 15.5rem;
        height: 3rem;
    }
    .contentEntrega:hover{
        width: 15rem;
    }

    .itemsDetails {
        width: 34rem;
    }
}

/* 2260px - 2360px */
@media screen and (min-width: 2260px) and (max-width: 2360px){
    .additional-img {
        height: 37rem;
    }
    .additional-img img {
        width: 170px;
        height: 170px;
    }
    .main-img {
        width: 520px;
        height: 520px;
        padding: 0;
    }
    
    .name-ProductDetails {
        font-size: 48px;
    }
    .description-ProductDetails, .itemsDetails p{
        font-size: 25px;
    }

    .contentEntrega h1{
        font-size: 24px;
    }
    
    .contentEntrega {
        width: 15.5rem;
        height: 3rem;
    }
    .contentEntrega:hover{
        width: 15rem;
    }

    .itemsDetails {
        width: 34rem;
    }
}

/* 2361px - 2450px */
@media screen and (min-width: 2361px) and (max-width: 2450px){
    .additional-img {
        height: 37rem;
    }
    .additional-img img {
        width: 170px;
        height: 170px;
    }
    .main-img {
        width: 520px;
        height: 520px;
        padding: 0;
    }
    
    .name-ProductDetails{
        font-size: 48px;
    }
    .description-ProductDetails, .itemsDetails p{
        font-size: 25px;
    }

    .contentEntrega h1{
        font-size: 24px;
    }
    
    .contentEntrega {
        width: 15.5rem;
        height: 3rem;
    }
    .contentEntrega:hover{
        width: 15rem;
    }

    .itemsDetails {
        width: 34rem;
    }
}

/* 2451px - 2559px */
@media screen and (min-width: 2451px) and (max-width: 2559px){
    .additional-img {
        height: 37rem;
    }
    .additional-img img {
        width: 170px;
        height: 170px;
    }
    .main-img {
        width: 520px;
        height: 520px;
        padding: 0;
    }
    
    .name-ProductDetails {
        font-size: 48px;
    }
    .description-ProductDetails, .itemsDetails p{
        font-size: 25px;
    }

    .contentEntrega h1{
        font-size: 24px;
    }
    
    .contentEntrega {
        width: 15.5rem;
        height: 3rem;
    }
    .contentEntrega:hover{
        width: 15rem;
    }

    .itemsDetails {
        width: 34rem;
    }
}

/* Tablet 11 y 12 portatil 5 2560px */
@media screen and (min-width: 2560px) and (max-width: 2600px){
    .contentProductDetails{
        padding: 8rem;
    }

    .additional-img {
        height: 45rem;
    }
    .additional-img img {
        width: 200px;
        height: 200px;
    }
    .main-img {
        width: 600px;
        height: 600px;
        padding: 0;
    }
    
    .name-ProductDetails {
        font-size: 50px;
    }
    .description-ProductDetails, .itemsDetails p{
        font-size: 28px;
    }

    .contentEntrega h1{
        font-size: 24px;
    }
    
    .contentEntrega {
        width: 15.5rem;
        height: 3rem;
    }
    .contentEntrega:hover{
        width: 15rem;
    }

    .itemsDetails {
        width: 34rem;
    }
}