.contentProductsView {
    display: flex;
    padding: 5rem;
    overflow: hidden;
}
.contentProductsView .side{
    height: 70vh;
}

.linea-vertical {
    width: 6px;
    height: 71vh;
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: #D9D9D9;
}